*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

data/
sql/
tools/

solution/ParTech.Sugcon.Website/sitecore
solution/ParTech.Sugcon.Website/sitecore modules
solution/ParTech.Sugcon.Website/sitecore_files
solution/ParTech.Sugcon.Website/App_Data
solution/ParTech.Sugcon.Website/temp
