@model ParTech.Sugcon.Models.ContactViewModel

<form method="post">
    <div>
        <label>Identifier:</label>
        <input type="text" name="Identifier" value="@Model.Identifier" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>