<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="integrated security=true;Data Source=localhost\sql2012;Database=SUGCON_Core" />
  <add name="master" connectionString="integrated security=true;Data Source=localhost\sql2012;Database=SUGCON_Master" />
  <add name="web" connectionString="integrated security=true;Data Source=localhost\sql2012;Database=SUGCON_Web" />
  <add name="reporting" connectionString="integrated security=true;Data Source=localhost\sql2012;Database=SUGCON_Analytics" />
  <add name="reporting.secondary" connectionString="integrated security=true;Data Source=localhost\sql2012;Database=SUGCON_Analytics2" />
  
  <add name="analytics" connectionString="mongodb://localhost/analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/tracking_contact" />

</connectionStrings>